@page {
  margin: 0;
  page-break-before: always;
}

* {
  font-family: "dana", system-ui;
  print-color-adjust: exact !important;
  -webkit-print-color-adjust: exact !important;
  direction: rtl;
  line-height: 18px;
}

body {
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 20px;
}

.col-flex {
  display: flex;
  flex-direction: column;
  padding: 0 8px 8px;
}

.col-flex h6 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  margin: 0 !important;
  padding: 0 !important;
}

.col-flex p {
  font-size: 12px;
  line-height: 16px;
  margin: 0 !important;
  padding: 0 !important;
}

.row-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
}

.time-p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  align-self: flex-end;
  direction: ltr;
}

table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: monospace, cursive;
}

table tbody {
  border-top: 1px solid black;
}

table th {
  background-color: black;
  color: white;
}

table th,
table td {
  padding: 6px 2px;
}

table tr {
  border-bottom: 1px solid black;
  padding: 6px 2px;
  text-align: center;
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 200;
  src: url("./font/woff2/DanaFaNum-UltraLight.woff2") format("woff2"),
    url("./font/woff/DanaFaNum-UltraLight.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 300;
  src: url("./font/woff2/DanaFaNum-Light.woff2") format("woff2"),
    url("./font/woff/DanaFaNum-Light.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 400;
  src: url("./font/woff2/DanaFaNum-Regular.woff2") format("woff2"),
    url("./font/woff/DanaFaNum-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 500;
  src: url("./font/woff2/DanaFaNum-Medium.woff2") format("woff2"),
    url("./font/woff/DanaFaNum-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 600;
  src: url("./font/woff2/DanaFaNum-DemiBold.woff2") format("woff2"),
    url("./font/woff/DanaFaNum-DemiBold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 800;
  src: url("./font/woff2/DanaFaNum-ExtraBold.woff2") format("woff2"),
    url("./font/woff/DanaFaNum-ExtraBold.woff") format("woff");
  font-display: swap;
}
