@page {
  margin: 0;
  page-break-before: always;
}

* {
  font-family: "dana", system-ui;
  /* font-family: "Vazirmatn", sans-serif; */
  print-color-adjust: exact !important;
  -webkit-print-color-adjust: exact !important;
  direction: rtl;
}

body {
  font-size: 12px;
  /*line-height: 24px;*/
}
.barcode-container::after {
  content: "";
  display: table;
  clear: both;
}
.font {
  font-size: 12px;
  margin: 0 15px;
}

table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: monospace, cursive;
}

table tbody {
  border-top: 1px solid black;
}

table tfoot th {
  font-size: 20px;
}

table th {
  background-color: black;
  color: white;
}

table th,
table td {
  padding: 6px 2px;
}

table tr {
  border-bottom: 1px solid black;
  padding: 6px 0;
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table img {
  max-height: 40px;
}

@media print {
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 200;
  src: url("./font/woff2/DanaFaNum-UltraLight.woff2") format("woff2"),
    url("./font/woff/DanaFaNum-UltraLight.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 300;
  src: url("./font/woff2/DanaFaNum-Light.woff2") format("woff2"),
    url("./font/woff/DanaFaNum-Light.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 400;
  src: url("./font/woff2/DanaFaNum-Regular.woff2") format("woff2"),
    url("./font/woff/DanaFaNum-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 500;
  src: url("./font/woff2/DanaFaNum-Medium.woff2") format("woff2"),
    url("./font/woff/DanaFaNum-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 600;
  src: url("./font/woff2/DanaFaNum-DemiBold.woff2") format("woff2"),
    url("./font/woff/DanaFaNum-DemiBold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 800;
  src: url("./font/woff2/DanaFaNum-ExtraBold.woff2") format("woff2"),
    url("./font/woff/DanaFaNum-ExtraBold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 900;
  src: url("./font/woff2/DanaFaNum-Black.woff2") format("woff2"),
    url("./font/woff/DanaFaNum-Black.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 930;
  src: url("./font/woff2/DanaFaNum-ExtraBlack.woff2") format("woff2"),
    url("./font/woff/DanaFaNum-ExtraBlack.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 960;
  src: url("./font/woff2/DanaFaNum-Heavy.woff2") format("woff2"),
    url("./font/woff/DanaFaNum-Heavy.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 990;
  src: url("./font/woff2/DanaFaNum-Fat.woff2") format("woff2"),
    url("./font/woff/DanaFaNum-Fat.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: bold;
  src: url("./font/woff2/DanaFaNum-ExtraBold.woff2") format("woff2"),
    url("./font/woff/DanaFaNum-ExtraBold.woff") format("woff");
  font-display: swap;
}
